<section id="banner" class="text-3xl font-bold underline">hello world</section>

{% schema  %} 
{
  "name": "Banner",
  "settings":[],
  "presets": [
    {
      "name":"banner"
    }
  ]
}
 {% endschema %}