<nav>
  {% render 'header' %}
</nav>


{% schema  %} 
{
  "name": "Navbar",
  "settings":[
    {
      "type" : "image_picker",
      "id" : "image",
      "label": "pick image",
      "info": "png recommended format"
    }
  ],
  "presets": []
}
 {% endschema %}