<section>
  <div class="more-info">More Info Section</div>
</section>

<style>
  .more-info{
    background: {{ section.settings.background_color}};
    color: {{ section.settings.text_color }};
  }
</style>

{%  schema  %} 
{
  "name": "More Info",
  "settings":[
    {
      "type": "color",
      "id":"background_color",
      "label":"Background Color",
      "default":"#f4f4f4"
    },
    {
      "type":"color",
      "id":"text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name":"more-info"
    }
  ]
}
{% endschema %} 